body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.parent {
    height: 80vh;
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.history {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    background-color: rgba(255, 255, 255, 0.5);
}